h1{
	text-align:center;
}

h3{
	font-size:1.8em;
}

h1,h3{
	color:#91D8C2;
}

body{
	font-family:Arial,"Georgia",sans-serif;
	color:#8ED4E6;
	background-color:#4051B5;
	background-image:url("cse326bg.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top right;
}



dl {
	font-size:75%;
	color:#FDFD1B;
}

dl dt{
	font-weight:bold;
}

p:first-letter{
	font-weight:bold;
	font-size:150%;
}

ins{
	color:#10FF10;
	text-decoration:none;
}

ins:hover{
	font-weight:bold;
}

del{
	color:#FF3636;
}

strong{
	text-shadow:-2px 2px #ACACAC;
}

table,td,th{
	border-style:solid;
}

table{
	border-collapse: collapse;
}

tr:last-child{
	background:white;
}

caption{
	text-align:right;
}

ol{
	list-style-type:lower-greek;
}

img{
	height:300px;
	width:300px;
}

a img{
	height:initial;
	width:initial;
}